/* File Name : privacyStyle.css 
   Author Name : Chau Sin Han
   File Created on : 26 October 2022
*/
body{
   color: white;
}

h1{
  margin-top: 100px;
  margin-bottom: 30px;
}

h2 {
   margin-top: 50px;
   color: red;
   font-size: 18px;
   margin-bottom: 12px;
}
p{
   font-size: 14px;
   margin: 70px;
}
