#welcome-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-image-1{
  width: 170px;
  height: 250px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-left: -15px;
}

#welcome-image-2{
  width: 170px;
  height: 250px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-left: -15px;
}

#welcome-paragraph{
  text-align: center;
  margin:0px;
  width: 300px;
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.container img{
  width: 170px;
  height: 250px;
}

.text-box{
  margin-top: 30px;
  margin-left: 0vw;
}
