/* File Name : termsStyle.css 
   Author Name : Chau Sin Han
   File Created on : 26 October 2022
*/
h2 {
   margin-top: 50px;
   color: red;
   font-size: 18px;
   margin-bottom: 12px;
}
p{
   font-size: 14px;
   margin: 70px;
}



